<div class="row">
    <div class="col-lg-3 col-md-3">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <div class="product__thumb__pic set-bg">
                    <img id="img1" src="<%= product.images[5] %>" alt="">
                </div>
            </li>
            <li class="nav-item">
                <div class="product__thumb__pic set-bg">
                    <img id="img2" src="<%= product.images[6] %>" alt="">
                </div>
            </li>
            <li class="nav-item">
                <div class="product__thumb__pic set-bg">
                    <img id="img3" src="<%= product.images[7] %>" alt="">
                </div>
            </li>
            <li class="nav-item">
                <div class="product__thumb__pic set-bg">
                    <img id="img4" src="<%= product.images[8] %>" alt="">
                </div>
            </li>

        </ul>
    </div>
    <div class="col-lg-6 col-md-9">
        <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <img id="mainImg"  src="<%= product.images[1] %>" alt="" />
            </div>
        </div>
    </div>
</div>


<script>
    
    const img1 = document.getElementById("img1")
    const img2 = document.getElementById("img2")
    const img3 = document.getElementById("img3")
    const img4 = document.getElementById("img4")

    const mainImg = document.getElementById("mainImg")

    img1.addEventListener("click", ()=>{
        mainImg.src = "<%= product.images[1] %>"
    })

    img2.addEventListener("click", ()=>{
        mainImg.src = "<%= product.images[2] %>"
    })

    img3.addEventListener("click", ()=>{
        mainImg.src = "<%= product.images[3] %>"
    })

    img4.addEventListener("click", ()=>{
        mainImg.src = "<%= product.images[4] %>"
    })

</script>